// ⚠️ DEPRECATED STYLESHEET ⚠️
// We no longer rely on @material or RMWC for theming or component styling.
// We still need to support these variables for backward compatibility.
// Refer to the updated design system and theming approach from @webiny/admin-ui for current styling practices.

:root {
  --mdc-theme-primary: hsl(var(--color-primary-500));
  --mdc-theme-on-primary: hsl(var(--color-neutral-0));
  --mdc-theme-secondary: hsl(var(--color-secondary-500));
  --mdc-theme-on-secondary: hsl(var(--color-neutral-0));
  --mdc-theme-surface: hsl(var(--color-neutral-0));
  --mdc-theme-on-surface: hsl(var(--color-neutral-900));
  --mdc-theme-background: hsl(var(--color-neutral-200));
  --mdc-theme-on-background: hsl(var(--color-neutral-300));
  --mdc-theme-text-primary-on-background: hsl(var(--color-neutral-700));
  --mdc-theme-text-secondary-on-background: hsl(var(--color-neutral-500));
}
